:root{
--primary-color: #4464ad;
--secondary-color: #f58f29;
--accent-color: #a4b0f5;
--heading-font: "Momo Trust Display", sans-serif;
--text-font: "Inter", sans-serif;
}


header {

    padding: 20px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
}

p, h1, h2, h3, a, img{
    padding-left:20px;
}

a {
    font-weight: bold;
    font-family: var(--text-font)
}

.header-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 10px;
    align-items: center;
}

.logo {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    text-align: center;
}

.logo-grid2 span{
    padding: 0;
}

.grid1 {
    text-align: center;
    justify-content: center;
}

header img {
    display: block;
    height: auto;
    padding-left: 20px;;
}

header span {
    font-size: 1.2rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding-left: 20px;
}

.hamburger{
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem
}

#join-us {
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    background-color: var(--primary-color);
    color: #fff;
    margin:20px 0 0 20px;
    padding: 8px 20px;
}

