@media only screen and (max-width: 600px) {
    h2, h3 {
    text-align: center;
}
    input{
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    select {
    width: 100%;
    }

    .memberCard {
        width: 90%;
        margin: 20px auto;
        display: block;
    }

#container {
  display: grid;
  grid-template-columns: 1fr;
}
}