@media only screen and (max-width: 600px) {
    h2 {
    text-align: center;
}
    input{
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    select {
    width: 100%;
    }

    button {
        display: block;
        margin: 0 auto;
    }
}