:root {
  --primary-color: #3D405B;
  --secondary-color: #742A16;
  --light-color: #F4F1DE;
  --text-font: 'Inter', sans-serif;
  --title-font: 'Momo Trust Display', cursive;
}

h2, h3 {
    padding: 10px;
    text-align: center;
}
fieldset {
    border: none;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    width: 100%;
    
}

legend {
  font-weight: bold;
  padding-top: 6px;
}

select {
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background: var(--secondary-color);
}

#memberDetails {
    width: 90%;      
    max-width: 500px;        
    padding: 20px;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    text-align: left;
}

#memberDetails::backdrop {
    background: rgba(0,0,0,0.5);
}

#memberDetails button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--primary-color); 
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#memberDetails button:hover {
    background-color: var(--secondary-color); 
}

.memberCard {
    background-color: var(--light-color);
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.thankyou-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;

}


.submitted-info {
  background: var(--light-color);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  margin-top: 20px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
