:root{
    --primary-color:#3b021d;
    --secondary-color: #FCF6B1;
    --accent-color: #9B1D20;
    --text-color: #3D2B3D;
    --heading-font: "Caparismo", serif;
    --text-font: "Urbanist", sans-serif;
}